# >>> CLEANUP

# This section contains patterns to be deleted by `make clean`
build
dist
*.egg-info
**/.mypy_cache/
__pycache__
.pytest_cache
.ruff_cache
.benchmarks
.ccls-cache

*.pyc
*.log
*.bkp
*.json

# <<< CLEANUP

ruff.toml
_hanuki
hanuki.toml
index.html

